@model List<StarApp.Core.ModelsView.periodchantier>


@section Styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

}
<div class="row justify-content-center">

    <div class="col-md-8">
        <a class="btn btn-success" asp-action="Create" asp-controller="Periods">Create</a>
        <h1 style="margin-bottom:20px">Table Periods</h1>
        <table id="table" class="datatable">
            <thead>
                <tr>
                    <th>Chantier</th>
                    <th>datedebit</th>
                    <th>Datefin</th>
                    <th>CountDay</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                        <td>@item.chantiername</td>
                        <td>@item.datedebit.ToShortDateString()</td>
                        <td>@item.Datefin.ToShortDateString()</td>
                        <td>@item.CountDay</td>
                       
                        <td>
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Edit" asp-controller="Periods" asp-route-id="@item.Id">Edit</a></li>
                                <li><a class="dropdown-item" asp-action="Delete" asp-controller="Periods" asp-route-id="@item.Id">Delete</a></li>
                                <li><a class="dropdown-item" asp-action="Details" asp-controller="Periods" asp-route-id="@item.Id">Details</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.2.0/luxon.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $('#table').DataTable();
    </script>


     }